<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%= link_to 'Rajslist', root_path %> > jobs > accounting
    </div>
  </div>
</div>
<div class="container">
  <div >
     <button type="button">reply</button>
       <p>posted <%= time_ago_in_words(@listing.created_at)%> ago!</p>
     <div class="listing-header"><%= @listing.title %></div>
   </div>
   <div class="box">
     <% if @listing.user == current_user %>
       <p> <%= link_to 'edit', edit_listing_path%></p>
       <p> <%= link_to 'delete', @listing, data: {confirm: "Are you sure you want to delete?"}, method: :delete %></p>
     <% end %>
   </div>
  <div>
    <p><%= @listing.description %></p>
  </div>
  <footer>
    <p>post id: <%= @listing.id %></p>
    <p>posted <%= time_ago_in_words(@listing.created_at)%> ago!</p>
  </footer>
</div>
