<div class="container">
  <div class="leftbar">
    <a href="#"><h1>Rajslist</h1></a>
    <ul>
      <a href="#">post to classifieds</a>
      <li>my account</li>
    </ul>
    <form>
      <p>search Rajslist</p>
      <input type="text" name="firstname" placeholder="search" size="20">
      <br>
      <input type="text" name="firstname" placeholder="where" size="20">
      <br>
      <select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
      <button type="button">>
      </button>
    </form>
  </div>
  <div class="center-column" >
    <div class="center-one">
      <table>
        <tr>
          <th class="table-header"><%= link_to 'community', category_path(@community) %></th>
        </tr>
        <tr>
          <td>
            <% @community.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name %></li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th class="table-header"><%= link_to 'personals' %></th>
        </tr>
        <tr>
          <td>
            <% @personals.subcategories.each do |subcategory| %>
              <ul>
                <li><%= link_to subcategory.name %></li>
              </ul>
            <% end %>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th class="table-header"><%= link_to'services' %></th>
        </tr>
        <tr>
          <td>
            <% @services.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name %></li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <div class="center-two">
      <table>
        <tr>
          <th class="table-header"><%= link_to 'housing'%></th>
        </tr>
        <tr>
          <td>
            <% @housing.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name %></li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th class="table-header"><%= link_to 'for sale' %></th>
        </tr>
        <tr>
          <td>
            <% @forsale.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name %></li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <div class="center-three">
      <table>
        <tr>
          <th class="table-header"><%= link_to 'jobs' %></th>
        </tr>
        <tr>
          <td>
            <% @jobs.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name %></li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
      <br>
      <table>
        <tr>
          <th class="table-header"><%= link_to 'gigs' %></th>
        </tr>
        <tr>
          <td>
            <% @gigs.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name %></li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="rightbar">
    <ul class="rightbar-top">
      <li><%= link_to 'help and faq', help_path %></li>
      <li><%= link_to 'avoid scams and fraud', scams_path %></li>
      <li><%= link_to 'personal safety tips', safety_path %></li>
      <li class="rightbar-top"><%= link_to 'terms of use', terms_path %></li>
      <li><%= link_to 'privacy policy', privacy_path %></li>
      <li><%= link_to 'about Rajslist', about_path %></li>
      <li><%= link_to 'contact us', contact_path %></li>
    </ul>
  </div>
</div>
